.container {
    background-color: aliceblue !important;
    height: 17%;
    width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container svg {
    width: 358.3px;
}

.container svg path{
    fill:#000;
    fill-opacity: 1 ;
}

.container svg:nth-child(2){
    transform:  rotate(180deg);
}

.overlay{
    height: 100%;
    width: 0PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:aquamarine;
    position: relative;
    top: 0;
    left: 0;
}

.overlay img{
    display: none;
}